<div class="container">
  <div class="top-drug-title">
    <h1> Résultats proposés par Rupt'Care</h1>
    <p>L'alternative proposée par <strong>Rupt'</strong>Care</p>
  </div>

  <div class="card-drug">
    <img src="https://images.unsplash.com/photo-1587854692152-cbe660dbde88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" />
    <div class="card-drug-infos">
      <h2><%= @drugs.name %></h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
  </div>

  <p><strong>Les autres alternatives thérapeutiques</strong> pouvant être recommandées :</p>Choisissez l’alternative la plus adaptée

  <div class="cards-drugs-grid">
    <div class="card-other-drug">
      <img src="https://images.unsplash.com/photo-1471864190281-a93a3070b6de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" />
        <h2>Title here</h2>
        <p>Short description here!</p>
    </div>
    <div class="card-other-drug">
      <img src="https://images.unsplash.com/photo-1550572017-7cefce6b5753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" />
        <h2>Title here</h2>
        <p>Short description here!</p>
    </div>
    <div class="card-other-drug">
      <img src="https://images.unsplash.com/photo-1523243319451-54b60322f948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" />
        <h2>Title here</h2>
        <p>Short description here!</p>
    </div>
  </div>
</div>
