// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&family=Oxygen&display=swap');

// Define fonts for body and headers
$body-font: "Heebo",  "sans-serif";
$headers-font: "Oxygen", "sans-serif";

// To use a font file (.woff) uncomment following lines

@font-face {
  font-family: "PostNoBillsJaffna";
  src: font-url('postnobillsjaffna/PostNoBillsJaffna-Bold.ttf') format('truetype');
  // src: url('fonts/postnobills.eot?#iefix') format('embedded-opentype'),
  //      url('fonts/postnobills.woff') format('woff'),
  //      url('fonts/postnobills.ttf') format('truetype')
}
$my-font: "PostNoBillsJaffna";
