#back-show-patient {
  background: #F4F4F4;
}

.card-show h1 {
  text-align: center;
  width: 300px;
  color: #FFFFFF;
}


.list-info-patient {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  list-style: square;
  text-align: left;
  margin-top: 15px;
  color: #FFFFFF;
}

.list-info-patient li {
   width: 255px;
   margin-top: 20px;
   font-size: 16px;

}

.list-info-patient b {
   font-size: 16px;
}


.table-users {
   box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 1100px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-family: 'Work Sans', sans-serif;
   margin-left: auto;
   margin-right: auto;
   border-bottom: 2px solid #035AC1;
   border-right: 2px solid #035AC1;
   border-left: 2px solid #035AC1;
   border-top: 2px solid #035AC1;

}

table {
   width: 100%;
     box-sizing: border-box;


   td, th {
      color: darken(#07418D, 10%);
      padding: 10px;
      text-align: center;
      vertical-align: middle;

   }

   td {
      text-align: center;
      vertical-align: middle;
      height: 100px;
      font-size: 16px;
      border-right: 2px solid #035AC1;

   }

   th {
      background-color: rgba(0, 109, 187, 0.2);
      font-weight: 300;
      font-size: 16px;
      border-bottom: 2px solid #035AC1;
   }

   tr {
  background-color: lighten(#398B93, 80%);
   }

   td b {
    font-size: 16px;
   }
}



.info-patient {
  display: flex;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #07418D;
  font-weight: bold;
}


//boutons


.fa-arrow-circle-left {
  margin-left: 40px;
  margin-top: 40px;

}

.return-text {
  margin-left: 100px;
  margin-top: -35px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #035AC1;
  padding-bottom: 15px;

}


.legend {
   font-size: 20px;
   text-align: right;
   font-weight: bold 500;
   font-family: "Oxygen";
   color: #035AC1;
   margin-top: 25px;
   margin-right: 5%;
  }

.form-patient-show {
  width: 100%;
  max-width: 1290px;

}

#searchbar {
  background: transparent;
  // padding: 50px 47px;
  // display: flex;
  width: 700px;
  // flex-pack: justify;
  // flex-align: center;
  // align-items: center;
  height: 68px;

  }

.input-field {
  height: 68px;
  margin-bottom: 5px;
  // box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 120%;
  margin-right: 0%;

}


.input-search-bar {

  height: 50px;
  background: #fff;
  border-radius: .5px;
  border: 0;
  display: block;
  width: 380px;
  padding: 10px 32px;
  font-size: 20px;
  color: black;
  font-size: 20px;
  border: 2px solid grey;
  margin-bottom: 0px;
  margin-left: 20%;
  margin-right: auto;
  position: relative;
  margin-top: 5%;
}

.placeholder {
  color: black;
  font-size: 20px;
}

.btn-search-show-patient {
  width: 100px;
  height: 50px;
  padding: 0 15px;
  background: #006DBB;
  white-space: nowrap;
  border-radius: 0.5px;
  font-size: 20px;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5%;
}

.btn-search-show-patient:hover {
   background: #FFFFFF;
   border: 1px solid #006DBB;
   color: #006DBB;
 }

.main-cards {
    column-count: 3;
    column-gap: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.card-show {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #006DBB;
    margin-bottom: 20px;
    column-break-inside: avoid;
    padding: 20px;
    box-sizing: border-box;
  }

.card-show-table {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

.header-show {
  grid-area: header;
  opacity: 0;
}

.sidenav {
  grid-area: sidenav;

}

.main {
  background-color: #fff;
}



.main-header {
 display: flex;
 justify-content: space-between;
 margin: 20px;
 padding: 20px;
 height: 150px;
 background-color: #e3e4e6;
 color: slategray;
}

.header-table-patient {
   background-color: #006DBB;
   color: white;
   font-size: 20px;
   text-align: center;
   font-weight: bold;
}

#back-arrow {
  margin-left: 50px;
  color: #07418D;
  opacity: 0.8;
}

#back-arrow:hover {
  text-decoration: none;
  opacity: 1;
}

.bold-name {
  color: #FFFFFF;
  font-size: 16px;
}

.medic-show {
    margin-top: 9px;
    margin-bottom: 20px;
}

#banner-patient {
  background: #006DBB;
  width: 100%;
  margin-left: 0%;
}

.vl {
  border-left: 1px solid #FFFFFF;
  height: 200px;
  margin-bottom: 5%;
}

#patient-info {
  margin-top: 0px;
  margin-bottom: 20px;
}

.drug-searchbar {
  display: flex;
  justify-content: center;
}

.card-patient {
  height: 236px;
  width: 315px;
  background: white;
  margin-left: 10%;
  margin-top: 5%;
  border: 2px solid #035AC1;
}

.card-patient-text {
  margin-bottom: -60%;
  margin-top: 20%;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.card-patient-title {
  padding-top: 5%
}
