<h3>Rupt'Care - Votre solution pour la rupture des médicaments</h3>
 <hr>
 <h1 style="text-align: center;">Récapitulatif de votre échange</h1>
 <br>
 <p> Demande de validation du <b>Drug</b>  pour le traitement du <b>Véronique Dubois</b> acceptée par le <b>Dr. Walid Tairi</b> au <20/01/2020</h2>
   <br>
 <p>Signature du Docteur: <b>Walid Tairi</b></p>
 <span> Réalisé le: 19/01/2020 à Paris</span>