<img src="https://res.cloudinary.com/de254wisw/image/upload/v1599144291/image_sbzcko.png" width="150" height="200" style="margin-top:-7%; margin-bottom:-5%">
 <h3 style="font-style: italic;">Rupt'Care - Votre solution pour la rupture des m&eacute;dicaments</h3>
 <hr>
 <br>
 <h1 style="text-align: center; font-size: 36px">R&eacute;capitulatif de votre &eacutechange</h1>
  <br>
  <br>
  <br>
  <br>
  <div style="font-size: 20px">
  <p style="line-height: 200%;"> Remplacement de la <b>MIANSERINE 10 mg</b> par l'alternative <b>ESCITALOPRAM 10 mg</b>  pour le traitement de <b>V&eacuteronique DUBOIS</b> accept&eacute;e par le <b>Dr. Walid TAIRI</b> au 04/09/2020.</p>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
<div style="text-align: right; margin-right:2%;">
 <p>Signature du Docteur: <b>Walid TAIRI</b></p>
 <p style="font-style: italic;"> R&eacute;alis&eacute; le: 04/09/2020 &agrave; Paris</p>
</div>
</div>
