@import "components/map";

#title-pharma h1 {
 color:#07B8F1;
 font-family: $headers-font;
 font-size: 48px;
 line-height: 61px;
 font-weight: light;
 margin-top: 10px;
}

#title-pharma h2 {
  font-family:$body-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  left: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#map-pharma {
  display:flex;
  justify-content:space-between;
}

#pharma-display {
  text-align: left;
  border-top: 1px solid #B59494;
  border-bottom: 1px solid #B59494;
  background: rgba(108, 194, 232, 0.09);
  font-family:$body-font;
}

#pharma-display h2 {
  margin-top: 10px;
  }

#map {
  border-top: 1px solid #B59494;
  border-bottom: 1px solid #B59494;
}

#pharmas {
  overflow: scroll;
  height: 600px;
}
