@import "components/map";

#title-pharma h1 {
 color:#006DBB;
 font-family: $headers-font;
 font-size: 30px;
 line-height: 61px;
 font-weight: light;
 margin-top: 10px;
}

#title-pharma h2 {
  font-family:$body-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  left: 65px;
  margin-top: 25px;
  margin-bottom: -10px;
}

#map-pharma {
  display:flex;
  justify-content:space-between;
}

#pharma-display {
  text-align: left;
  border-top: 1px solid #01418D;
  border-bottom: 1px solid #01418D;
  background: #FFFFFF;
  font-family:$body-font;
  color: #006DBB;
}

#pharma-display h2 {
  margin-top: 10px;
  }

#map {
  border-top: 1px solid #01418D;
  border-bottom: 1px solid #01418D;
}

#pharmas {
  overflow: scroll;
  height: 600px;
}

#back-index {
  color: #006DBB;
  margin-bottom: 20px;
  margin-left: 10px;
  opacity: 0.8;
}

#back-index:hover {
  text-decoration: none;
  opacity: 1;
}

.return-index {
  color: #006DBB;
  margin-bottom: 10px;
}

.strong-name {
  color: #006DBB;
}
