<body>
  <div  id='banner-home' style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url('<%= image_path('halacious-iPl3q-gEGzY-unsplash.jpg') %>');">
    <div class="home-container">
       <h1 id="RuptCare">Rupt'Care,</h1>
       <h2 class="h2-home">Votre solution pour la rupture des médicaments</h2>
       <label class="btn btn-open" for="nav"><%= link_to "Accéder à ma liste de patients", patients_path, class: "call-to-action-home" %></label>
    </div>
  </div>
</body>
