<div  id='banner-home' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/background-meds.jpg);">
  <h1>Rupt'Care</h1>
  <h2>Votre solution pour la rupture des médicaments</h2>
</div>


<div id="searchbar-home">
  <h3>Je cherche une alternative médicamenteuse pour :</h3>
</div>
