.drug-container{
  display:flex;
   align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}
.card-drug {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
}

.card-drug-infos .drug-info{
  font-family:'Heebo', sans-serif;
  font-size: 16px;
  padding-top: 15px;
  color: black;
  margin-top: 10px
}

.card-drug .card-drug-stock {
  padding: 16px;
  padding-left: 0px;
  padding-top: 35px;
  margin-left: 0px;
}
 h1, h2{
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
}
.card-drug-stock{
  background-color: white;
  font-family: 'Heebo', sans-serif;
}
.card-drug-stock h2 {
margin-bottom: -20px;
padding-top: 20px;
padding-bottom: 7px;
}
.card-drug-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}
 .drug-name {
  color:  #07B8F1;
  font-family: 'Oxygen', sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.1;
}

#action{
  margin-top: 0px;
}

#posology{
  margin-top: 40px;
}

#thera{
  margin-top: 20px;
}


#close {
    color: black;
    position: absolute;
    right: 0px;
    margin-top: 7px;
    top: 20px;
    left: 855px;

}
.btn-primary{
  background-color: #07B8F1;
  color: white;
  border-radius: 50px;
  border-color: lightgrey;
  margin-left: 98px;
  margin-top: 1px;
  padding-top: 5px;
  margin-left: 0px;
  margin-left: 78px;
}
#call-doctor{
  background-color: #07B8F1;
  color: white;
  border-radius: 50px;
  border-color: lightgrey;
  margin-left: 10px;
}

#image-in-modal {
  border-style: none;
}

