.drug-container{
  display:flex;
   align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}
.card-drug {
  overflow: hidden;
  height: fit-content;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px;
  display: flex;
  align-items: flex-start;
}
.card-drug img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
}

.card-drug-infos h1{
  font-family:'Heebo', sans-serif;
  font-size: 20px;
}

.card-drug .card-drug-stock {
  padding: 16px;
}
 h1, h2{
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
}
.card-drug-stock{
  background-color: white;
  font-family: 'Heebo', sans-serif;
}
.card-drug-stock h2 {
margin-bottom: -20px;
padding-top: 20px;
}
.card-drug-left{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
}
 .drug-name {
  color:  #07B8F1;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#action{
  margin-top: 0px;
}

#posology{
  margin-top: 40px;
}

#thera{
  margin-top: 20px;
}

#close {
    color: black;
    position: absolute;
    right: 0px;
    top: 30px;
    left: 800px;
    margin-top: 7px;
}
