.drug-container{
  display:flex;
   align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}
.card-drug {
background: white;
width: 600px;
height: fit-content;
padding-bottom: 20px;
margin: auto;
  .drug-information-tabs {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .drug-information-tab-content {
    padding: 0px 20px;
  }
}

.card-drug-infos .drug-info{
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  padding-top: 15px;
  color: black;
  margin-top: 10px

}

.card-drug .card-drug-stock {
  // padding: 16px;
  // padding-left: 0px;
  // padding-top: 35px;
  // margin-left: 0px;
  margin-top: 4px;
}
 h1, h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 7px;
  color: #006DBB;
}
.card-drug-stock{
  background-color: white;
  font-family: Work Sans;
  max-width: 44%;
}
.card-drug-stock h2 {
margin-bottom: -20px;
padding-top: 20px;
padding-bottom: 7px;
  color: #006DBB;
}
 .drug-name {
  font-family: 'Work sans', sans-serif;
  font-size: 25px;
  font-weight: bolder;
  line-height: 1;
}

#action{
  margin-top: 0px;
}

#posology{
  margin-top: 40px;
}

#thera{
  margin-top: 20px;
}


#close {
    color: black;
    position: absolute;
    right: 0px;
    margin-top: 7px;
    top: 20px;
    left: 570px;

}
.btn-primary{
  background-color: #006DBB;
  width: 297px;
  height: 50px;
  color: white;
  margin-top: 1px;
  padding-top: 10px;
  margin-left: 0px;
  font-family: Work sans;
  font-size: 20px;
  white-space: nowrap;
}
.btn-primary:hover{
  background: #FFFFFF;
  border: 1px solid darken(#07418D, 5%);
  color: #07418D;
}


#image-in-modal {
  width: 600px;
  height: 160px;
  object-fit: cover;
}
#dispo{
color: #006DBB
}
.next-icon{
  color:  #006DBB;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: bold;
}
.next-icon1{
   color: #006DBB ;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: bold;
}
.card-drug-infos-modal{
  padding: 0px 30px;

  display: flex;

  .drug-new-left-card {
    flex-grow: 1;
  }
}
#modal-fam{

}
#modal-aprec{
  font-size: 13px;
  font-family: Work Sans;
}
.card-drug-infos-modal .drug-info {
  font-size: 14px;
  font-family: Work Sans;
  color: black;
  padding-top: 3px;
}
.card-drug-infos-modal .card-drug-stock{
  // margin-top: -25px;
}


.card-drug-infos-modal .btn-primary:hover{
 background: #FFFFFF;
   border: 1px solid darken(#07418D, 5%);
   color: #07418D;
}

.stock-modal{
  margin-top: 3px;
  color: #006DBB;
  font-family: Work Sans;
  font-weight: bold;
}
.dispo-modal{
  padding-left: 1px;
  position: relative;
  top: -40px;
  font-family: Work Sans;
}

#stock-modal{
  color: #006DBB;
}
#dispo-modal{
  font-family: Work Sans;
}
.btn-medecin{
  color: #FFFFFF;
  background: #07418D;
  position: relative;
  top: 15px;
}
.btn-pharmacy{
  color: #FFFFFF;
    background: #07418D;
    margin-top: 15px;
}

#modal-class{
  font-size: 13px;
  color:  #006DBB;
  font-family: Work Sans;
  padding-top: 5px;
}
#modal-fam{
  font-size: 13px;
  color: #006DBB;
  font-family: Work Sans;
  padding-top: 0px;
}
.stock-in-modal{
      top: -320px;
    right: -435px;
    color: #006DDB;
    position: relative;
}

