#banner-home {
background-size: cover;
background-position: left 15% bottom 50%;
width: 100%;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: flex-end;
padding: 0 80px;
}

.home-container {
flex: 0 0 50%;
margin-bottom: 100px;
}

#banner-home h1 {

font-family: 'Work Sans', sans-serif;
font-weight: bold;

font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 106px;
/* identical to box height */


color: #FFFFFF;
}

#banner-home h1 span {
  color: #FFFBFB;
}

#banner-home h2 {

font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 59px;

color: #FFFFFF;

}
