#banner-home {
background-size: cover;
background-position: left 15% bottom 50%;
width: 100%;
min-height: 100vh;
}

#home-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
}

#banner-home h1 {

width: 877px;
height: 200px;
left: 580px;

font-family: $my-font;
font-style: normal;
font-weight: bold;
font-size: 144px;
line-height: 215px;
text-align: right;
text-shadow: 3px 3px black;
margin-left: 450px;

color: #01418D;
}

#banner-home h1 span {
  color: #FFFBFB;
}

#banner-home h2 {


position: relative;
right: 100px;
bottom: 50px;

font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 70px;
text-align: right;
letter-spacing: 0.1em;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color: #FFFBFB;
opacity: 0.9;
}
