#banner-home {
background-size: cover;
background-position: left 15% bottom 50%;
width: 100%;
min-height: 100vh;
}

#home-container {
width: 658px;
height: 118px;
left: 678px;
top: 390px;

}

#banner-home h1 {

width: 464px;
height: 106px;
font-family: 'Work Sans', sans-serif;
font-weight: bold;

position: absolute;
left: 678px;
top: 300px;
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 106px;
/* identical to box height */


color: #FFFFFF;
}

#banner-home h1 span {
  color: #FFFBFB;
}

#banner-home h2 {
position: absolute;
width: 658px;
height: 118px;
left: 678px;
top: 390px;

font-family: Work Sans;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 59px;

color: #FFFFFF;

}
