.card-drug {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-drug img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-drug h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-drug-infos p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-drug .card-drug-infos {
  padding: 10px;
}

.cards-drugs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-gap: 16px;
  position: relative;
  grid-gap: 1rem;
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;

}

.card-other-drug {
  height: 200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 50px;
  border-radius: 10px;
}

.card-other-drug > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-other-drug h2 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-other-drug p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}







