.top-drug-title h1 {
  color: #51CAF4;
  padding: 20px;
  font-size: 30px;
  font-family:  sans-serif;
  font-weight: bold;
}

#rupt {
  color: #51CAF4;
}

.alternatives{
  color: #51CAF4;
  font-size: 17px;
}

.card-main-drug {
  overflow: hidden;
  height: 555px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.card-main-drug img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-main-drug h2 {
  color: #006DBB;
  font-size: 30px;
  font-weight: bolder;
  padding-left: 0px;
  font-family: Heebo;
  margin-top: -35px ;

}

#aprec {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-main-drug .card-drug-infos {
  padding: 10px;
  padding-left: 20px;

}

.cards-drugs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  grid-gap: 30px;
  position: relative;
  grid-gap: 3rem;
  padding: 2rem;
  max-width: 1024px;

}

.card-other-drug {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 50px;
}

.card-other-drug > img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-other-drug h2 {
  padding-top: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-other-drug p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

#availability-success{
  position: absolute;
  top: 8px;
  right: -27px;
  width: 50px;
  height: 50px;
  color: #0a8a00;
}

#availability-faillure{
  position: absolute;
  top: 15px;
  right: -15px;
  width: 50px;
  height: 50px;
  color: red;
  opacity: 0.4;
}
#stock-dispo{
  font-size: 16px;
  color: #006DBB;
  font-family: Work Sans;
  position: relative;
  top: 35px;
}

.card-drug-infos p{
  font-size: 15px;
}
.card-disable{
  opacity: 0.5;
    position: relative;
  height: 200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 50px;
  border-radius: 10px;
}
.drug-family{
  color: #006DBB;
  font-size: 20px;
  font-family: Work Sans;
  margin-top: -15px;
}
.drug-class{
  color: #006DBB;
  font-size: 20px;
  font-family: Work Sans;
  margin-top: -19;
}
#stock-check{
  font-size: 16px;
   color: #006DBB;
  font-family: Work Sans;
}
