.navbar-lewagon {
  justify-content: space-between;
  color: black;
  height:75px;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.navbar-lewagon-white {
  background-color: white;
  color: #01418D;
}

.page-pages-home .navbar-lewagon {
  background-color: transparent;
  transition: background-color 0.5s ease;
  position: fixed;
  width: 100%;
  box-shadow: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  object-fit: cover;
  background-size: cover;

  border-radius: 50%;
}

.avatar-large {
	object-fit: cover;
  background-size: cover;
  border: 2px solid #FFFBFB;
}

.nav-link {
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
  color: black;
  margin-right: 30px; 
  border-right: 1px solid grey;
  padding-right: 40px;
}

.page-pages-home .navbar-light .nav-link {
  color: white;
}

.page-pages-home .navbar-light .nav-link:hover {
  color: white;
  opacity: 0.8;
}



#navbarDropdown {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #FFFB;
    position: relative;
    top: 8px;
}

li a {
  text-decoration: none;
  color:#01418D;
  font-size: 1.1rem;
  font-family: 'Work Sans',sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;

}

li a:hover {
  color: #01418D;
}

.nav-item-home {
  color: black;
}