.navbar-lewagon {
  justify-content: space-between;
  height:75px;

  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15)

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  object-fit: cover;
  background-size: cover;
}

.avatar-large {
	  object-fit: cover;
  background-size: cover;
  border: 2px solid #FFFBFB;
}



li a {
  text-decoration: none;
  color:#01418D;
  font-size: 1.1rem;
  font-family: 'Oxygen', arial;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;

}

li a:hover {
  color: #01418D;
}

