.navbar-lewagon {
  justify-content: space-between;
  background:  #42A5F5;
  height:75px;
    border-bottom: 2px solid white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  object-fit: cover;
  background-size: cover;
}

.avatar-large {
	  object-fit: cover;
  background-size: cover;
  border: 2px solid white;
}



li a {
  text-decoration: none;
  color:#00303F;
  font-size: 1.1rem;
  font-family: 'Monserat', arial;
  text-transform: uppercase;
  margin-top: 10px;
  margin-right: 10px;
  
}

li a:hover {
  color: #7A9D96;
}

