
  .sidenav {
    display: flex;
    flex-direction: column;
    // grid-area: sidenav;
    background-color: rgb(255, 251, 251) ;
    width: 600px;
   





  }

  .sidenav__list {
    padding: 0;
    margin-top: 30px;
    list-style-type: none;
    // justify-content: center;
    text-align: left;
    padding-left: 20px;

  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: grey;
    font-family: "Work Sans";
    font-weight: medium;
    font-size: 16;



  }

  .sidenav__list-item:hover {
    // background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #006DBB;
  }

.fa-bars {
  width: 30px;
}