
  .sidenav {
    display: flex;
    flex-direction: column;
    grid-area: sidenav;

  background-color: #f1f3f8 ;



  }

  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
    justify-content: center;
    text-align: left;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: black;
    font-weight: bold;
    font-family: "Heebo";


  }

  .sidenav__list-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #fff;
  }
